body {
	display: none;
	margin: 0;
	background-color: #bdbbb6;
}	

h3 {
	font-family: 'Lora', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #86a07a;
    border-radius: 2%;
}

li a {
	display: block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	color: #fffff0;
	font-family: 'Lora', serif;
}

a.button {
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2px;
	color: #53435b;
  	font-size: 20px;
  	background: #acbca4;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
}

a.button:hover {
	text-decoration: none;
	opacity: 0.5;

}

blockquote {
	margin: 0;
}

.description p {
	margin-top: 35px;
	margin-bottom: 50px;
	font-size: 20px;
	text-align: left;
}

.container {
	margin: 0 auto;
	width: 1250px;
	border-radius: 2%;
	background-color: #f6f2f3;
}

.header {
	height: 150px;
	margin-bottom: 10px;
}

.menu {
	position: fixed;
	right: 0;
	float: right;
}

.wrapper {
	width: 1120px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 0px 20px 10px 20px;
	line-height: 200%;
	font-size: 18px;
	color: #090d0c;
	font-family: 'Cabin', san-serif;
}

.wrapper h1 {
	font-family: 'Merriweather', serif;
}

.section {
	margin: 0 auto;
	break-inside: avoid;
	padding: 50px 10px 10px 10px;
}

.section img {
	border-radius: 2%;
}

.darken {
	opacity: 0.7;
}

.pquote {
	float: right;
	width: 200px;
	background: #ebeeea;
	font-size: 26px;
	line-height: 0.9;
	padding: 13px;
	margin: 0 13px 13px 0;
}

div.caption {
	display: none;
	font-size: 12px;
	height: 100px;
	width: 600px;
}

a:hover + div.caption {
	display: block;
}

#bg {
	background: url("../img/startbg.png");
}

#start {
	width: 1000px;
	margin: 0 auto;
	padding: 50px;
	text-align: center;
	color: #53435b;
	background-color: transparent;
}

#start h1 {
	font-family: 'Merriweather', serif;
	font-size: 50px;
	font-style: italic;
}

#header-sroll {
	position: fixed;
	height: 150px;
	width: 1250px;
	margin: 0 auto;
	background: #70617c;
	color: #f6f2f3;
	-webkit-box-shadow: 0px 10px 5px -1px rgba(134,160,122,0.4);
	-moz-box-shadow: 0px 10px 5px -1px rgba(134,160,122,0.4);
	box-shadow: 0px 10px 5px -1px rgba(134,160,122,0.4);
	transition: all 0.1s ease-out;
	z-index: 999;
}

#header-sroll h1 {
	font-size: 30px;
	font-family: 'Merriweather', serif;
	text-align: left;
	line-height: 35px;
	padding-left: 10px;
	transition: all 0.1s ease-out;
}

#header-sroll h3 {
	font-size: 24px;
	text-align: left;
	line-height: 30px;
	padding-left: 10px;
	transition: all 0.1s ease-out;
}

#header-sroll.small {
	height: 70px;
	line-height: 15px;
}

#header-sroll.small h1 {
	height: 15px;
	line-height: 15px;
	font-size: 15px;
	text-align: left;
}

#header-sroll.small h3 {
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	text-align: left;
}

@media screen and (max-width: 400px) {
	body {
		min-height: 568px;
		width: 320px;
		margin: 0 auto;
	}

	.description p {
		font-size: 17px;
	}

	#start {
		max-width: 300px;
		margin-bottom: 10px;
		padding: 10px;
	}

	#start h1 {
		font-size: 25px;
	}
}