body {
	background: url(http://goo.gl/L8XfNO);
	min-height: 1000px;
	width: 985px;
	margin: 0 auto;
	padding: 70px 0px 0px 0px;
}

header {
	background-color: #0aaecc;
	border-radius: 10%;
	height: 342px;
	width: 850px;
	margin: 45px 0px 0px 25px;
	padding: 10px 0px 0px 0px; 
	text-align: center;
	color: #e2122d;
}

h1 {
	font-size: 42px;
	font-family: 'Allura', cursive;
}

header h4 {
	font-size: 15px;
	font-family: 'Cabin', sans-serif;
}

h3 {
	font-size: 26px;
	color: #0aaecc;
}

header a {
	text-decoration: none;
	color: #e2122d;
}

header a:hover {
	text-decoration: none;
	color: #a51d2d;
}

span {
	display: inline-flex;
}

span ul {
	margin: 15px 0px 0px 0px; 
}

span li {
	font-size: 30px;
	font-family: 'Cabin', sans-serif;
	list-style-type: none;
	display: block;
}

.main1 {
	background: url(http://goo.gl/DIXzFX);
	border-radius: 10%;
	border-style: double;
	border-width: 26px;
	min-height: 1000px;
	width: 965px;
}

.main2 {
	background: url(http://goo.gl/DIXzFX);
	border-radius: 10%;
	border-style: double;
	border-width: 26px;
	min-height: 1000px;
	width: 965px;
}

.container-fluid {
	font-size: 15px;
	font-family: 'Cabin', sans-serif;
}

.navbar-default {
	width: 500px;
	margin: 0 auto;
	padding: 0px 0px 0px 170px;
}

.logo {
	font-size: 95px;
	font-family: 'Alex Brush', cursive;
}

.wrapper {
	height: 500px;
	width: 850px;
	margin: 0 auto;
	padding: 52px 0px 0px 0px; 
	text-align: center;
	font-family: 'Cabin', sans-serif;
	color: #333;
}

.wrapper p {
	font-size: 20px;
}


.wrapper a {
	text-decoration: none;
	font-size: 20px;
	font-family: 'Cabin', sans-serif;
	color: #333;
}

.wrapper a:hover {
	color: #e2122d;
}

.wrapper h3 {
	text-decoration: underline;
}

.section {
	height: 500px;
	width: 850px;
	margin: 0 auto;
	padding: 45px 0px 0px 0px; 
	text-align: left;
	font-family: 'Cabin', sans-serif;
	color: #333;
}

.row {
	margin-bottom: 25px; 
}

.row h3 {
	font-size: 22px;
}

.row p {
	font-size: 18px;
}

.row li {
	font-size: 14px;
}

@media screen and (max-width: 400px) {
	body {
		min-height: 700px;
		width: 320px;
		margin: 0 auto;
		padding: 25px 0px 0px 0px;
	}

	header {
		height: 220px;
		width: 245px;
		text-align: center;
		margin: 20px 5px 0px 10px;
		padding: 5px 0px 0px 0px; 
	}

	header h4 {
		font-size: 10px;
	}

	h1 {
		font-size: 24px;
	}
	
	h3{
		font-size: 18px;
	}

	span ul {
		margin: 12px 10px 0px -10px;
		text-align: left;
		height: 65px;
		width: 51px; 
	}

	span li {
		font-size: 15px;
		height: 21px;
		width: 21px;
	}

	span.brand-logo {
		width: 87px;
	}
	
	ul.nav.navbar-nav {
		height: 50px;
		width: 185px;
		margin: 12px 0px 0px 12px;
	}

	ul.nav.navbar-nav a {
		height: 100px;
		width: 64px;
		margin-right: 10px;
		margin-left: -15px;
		padding: 0px 10px;
	}

	ul.nav.navbar-nav li {
		width: 64px;
		display: inline;
	} 

	.main1 {
		min-height: 600px;
		width: 317px;
		margin: 0 auto;
	}
	
	.main2 {
		min-height: 1120px;
		width: 317px;
		margin: 0 auto;
	}

	.logo {
		font-size: 50px;
	}

	.navbar-default {
		max-height: 50px;
		width: 185px;
		padding: 0px 0px 0px 0px;
	}

	.navbar-static-top {
		border-width: 1px 0px 1px 0px;
	}

	.navbar-nav {
		margin: 0px;
	}

	.nav li a {
		display: inline;
	}

	.container-fluid {
		height: 50px; 
		width: 185px;
		float: left;
		font-size: 15px;
		margin: 0 auto;
		padding: 0px 0px 0px 0px;
		text-align: center;
	}

	.wrapper {
		height: 458px;
		width: 248px;
		text-align: center;
	}

	.wrapper p {
		font-size: 15px;
	}

	.section {
		padding: 24px 0px 0px 0px;
	}

	.row {
		display: block;
	}

	.row h3 {
		font-size: 14px;
	}

	.row p {
		font-size: 12px;
	}

	.row li {
		font-size: 10px;
	}

}